body {
  background: linear-gradient(3deg, #3e98cc, #cee5f2);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1.5em 1.5em;
  min-height: 100%;
}

nav a {
  color: black !important;
  border: 3px solid transparent;
  font-size: 18px;
  opacity: 0.6;
}

footer a {
  color: black !important;
  opacity: 0.6;
}

footer a:hover {
  opacity: 0.9;
}

ul a:hover {
  color: #000000;
  border-bottom: #007bff solid 3px;
  opacity: 1;
}

.active {
  color: #000000 !important;
  border-bottom: #007bff solid 3px;
  opacity: 1;
}

section {
  height: 100vh;
  bottom: 10;
}

section div.text-center {
  margin-top: 3em;
}

section div.col-md-7,
div.col-md-4 {
  padding: 2em 1.25em 1.25em 1.25em;
  color: #000000;
  border-radius: 0.25em;
  background-color: #cee5f2;
  box-shadow: 0px 20px 20px 0 #3e98cc;
}

section div.col-md-7:hover,
div.col-md-4:hover {
  box-shadow: 20px 20px 50px #3e98cc, 0px 0px 0px #ffffff;
}

.list-group-item {
  background-color: #ffffff;
  border-bottom: solid 2px transparent;
  opacity: 0.7;
}

/* Skills*/
.list-group-item:first-child {
  color: #ffffff;
  opacity: 1;
  transform: scaleX(1.01);
}

/*Skill items*/
.list-group-item:hover {
  border-bottom: #007bff solid 2px;
  background: #ffffff;
  transform: scaleX(1.01);
  opacity: 1;
}

.art {
  position: relative;
  width: 15em;
  height: 4em;
  margin: 0 2em;
  padding: 2em 0;
  border-radius: 0.6em;
  box-shadow: 0 10px 10px 0 #3e98cc;
  opacity: 1;
}

img {
  object-fit: cover;
  position: absolute;
  height: 6em;
  left: 0;
  bottom: 0;
}

.control-container {
  width: auto;
  position: absolute;
  bottom: 1em;
  right: 1.4em;
}

.controls {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 0.2em;
}

/*remove focus*/
nav button:focus {
  outline: 0;
}
.controls:focus {
  outline: 0;
}
/*positon footer*/
footer {
  clear: both;
  bottom: 0;
  width: 100%;
  margin-top: 45vh;
}

.audio-info {
  box-shadow: 0 10px 10px 0 #3e98cc;
  border-radius: 0 0 0.6em 0.6em;
  position: relative;
  top: -2em;
  left: 0;
  width: 13.5em;
  padding: 0 1em;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.6s ease-in, opacity 0.2s ease-in;
  z-index: 0;
}

.audio-container.play .audio-info {
  opacity: 1;
  transform: translateY(60%);
}

.progress {
  height: 0.5em;
  border-radius: 0.2em;
}

.progress-bar {
  background-color: black;
  transition: width linear 0.1s;
  cursor: pointer;
}
