body {
  background: linear-gradient(2deg, #3e98cc, #CEE5F2);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1em 1em;
}

a {
  text-align: center;
  color: black!important;
  border: 3px solid transparent;
  font-size: 18px;
  opacity: 0.6;
}

ul a:hover{
  color:#000000;
  border-bottom: #007bff solid 3px;
  opacity: 1;

}

.active {
  background-color: transparent!important;
  color: #000000!important;
  border-bottom: #007bff solid 3px;
  opacity: 1;

}

section div.text-center {
  margin-top: 2em;
}

section div.col-md-7, div.col-md-4{
  padding: 2em 1.25em 1.25em 1.25em;
  color:#000000;
  border-radius: 0.25em;
  background-color: #CEE5F2; 
  box-shadow: 5px 5px 10px #3e98cc,
              5px 3px 10px #ffffff;

}

section div.col-md-7:hover, div.col-md-4:hover{
  box-shadow: 20px 20px 50px #3e98cc,
              0px 0px 0px #ffffff;
              
}
.list-group-item{
  background-color: #ffffff;
  border-bottom: solid 2px transparent;
  opacity: 0.7;
}

section ul{

  height: auto;

}

.list-group-item:first-child{
  color: #ffffff;
  opacity: 1;
  transform: scaleX(1.01);
  
}

.list-group-item:hover{
  border-bottom: #007bff solid 2px;
  background: #ffffff;
  transform: scaleX(1.01);
  opacity: 1;
}
